<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-4">
				<br>
				<h1>Créer un compte</h1>
				<br>
				<form class="needs-validation" novalidate method="POST" action="../controller/compte.php" required>
					<input type="hidden" name="register" value="register">
					<div class="col-8">
						<label for="username" class="form-label fw-bold">Username</label>
						<input type="text" class="form-control" id="username" name="username" value="" required>
						<p class="small text-muted italic">Username can contain any letters or numbers with spaces</p>
					</div>
					<div class="col-8">
						<label for="email" class="form-label fw-bold">E-mail</label>
						<input type="text" class="form-control" id="email" name="email" value="" required>
						<p class="small text-muted italic">Please provide your E-mail</p>
					</div>
					<div class="col-8">
						<label for="password" class="form-label fw-bold">Password</label>
						<input type="password" class="form-control" id="password" name="password" required>
						<p class="small text-muted italic">Password should be at least 4 characters</p>
					</div>
					<div class="col-8">
						<label for="confirmPassword" class="form-label fw-bold">Password (Confirm)</label>
						<input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
						<p class="small text-muted italic">Please confirm password</p>
					</div>
					<br>
					<div class="col-8 text-center">
						<button class="btn btn-primary" type="submit" name="register">Register</button>
					</div>
				</form>
			</div>

			<div class="col-4">
				<br>
				<h1>Identification</h1>
				<br>
				<form class="needs-validation" novalidate method="POST" action="../controller/compte.php">
					<input type="hidden" name="login" value="login">
					<div class="col-8">
						<label for="email" class="form-label fw-bold">E-mail</label>
						<input type="text" class="form-control" id="email" name="email" value="" required>
						<p class="small text-muted italic">Please provide your E-mail</p>
					</div>
					<div class="col-8">
						<label for="password" class="form-label fw-bold">Password</label>
						<input type="password" class="form-control" id="password" name="password" required>
						<p class="small text-muted italic">Password should be at least 4 characters</p>
					</div>
					<br>
					<div class="col-8 text-center">
						<button class="btn btn-primary" type="submit" name="login">Login</button>
					</div>
				</form>
			</div>
		</div>